*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 92rem;
    margin: 0 auto;
}

.header-bg{
    background-color: #a8d4dd;
}

.recent-works-bg {
    background-color: #97d2a4;
}

.layered-section-bg {
    background-color: #f1f1f1;
}

.meet-our-team-bg {
    background-color: #e1b6c7;
}

.recent-posts-bg {
    background-color: #b4d4df;
}

.contact-us-bg {
    background-color: #3c3c3c;
}

/*  HEADER   */

.header-content {
    /* padding: 4.5rem 0; */
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title .heading {
    font-size: 2.3rem;
    align-self: flex-start;
}

.header-icon { 
    font-size: 2.8rem;
    margin-right: 1.5rem;
}
.header-slice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
}


.header-slice .heading {
    font-size: 2.5rem;
    position: relative;
    bottom: 3.2rem;
}

.header-img {
    /* flex: 0 1 calc ((100% - 32rem) / 2); */
    /* height: 25.8rem; */
    /* display: inline-block; */
    margin-right: 10rem;
}


.heading {
    font-family: 'Tinos', serif;
    letter-spacing: .10rem;
}

.heading-2 {
    color: #fff;
    font-size: 1.9rem;
    font-weight: bolder;
}

.heading-2 span {
    display: block;
}

.header-slice .heading-2 {
    font-size: 4.4rem;
    letter-spacing: .3rem;
}


.header-title {
    flex: 0 1 44%;
}

.navigation {
    flex: 1;
    align-self: flex-end;
}



.navigation-list,
.recent-works-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navigation-list {
    justify-content: space-between;
}


.navigation-link {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
}

.navigation-link:hover {
    border-radius: .7rem;
    background-color: #35484C;
    color: #a8d4dd;
    padding: 1rem 1.2rem;
}

.dot-boxes {
    display: flex;
    justify-content: center;
    padding-bottom: 2.7rem;
}

.active-dot {
    background-color: #fff;
}

.dot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .2rem solid #fff;
}

.dot:not(:nth-child(3)) {
    margin-right: 1.7rem;
}

/* IDENTITY SECTION */

.identity-section-img {
    width: 12.7rem;
    height: 10.4rem;
    display: inline-block;
}

.identity-section-item:nth-child(2) .identity-section-img {
    width: 7.7rem;
    height: 10.8rem;
}

.identity-section-item:nth-child(3) .identity-section-img {
    width: 10.8rem;
}

.identity-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 39rem; */
    padding: 7.5rem 0 9.8rem 0;
}

.identity-section-item {
    text-align: center;
    flex: 0 1 calc((100% - 18rem) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.identity-section .heading-3 {
    font-size: 1.5rem;
    margin: 1.9rem 0 1.5rem;
    font-weight: 600;
}

.identity-section-paragraph {
    font-size: 1.3rem;
    line-height: 1.5;
    color: rgba(99, 94, 94, 0.801);
}

/* RECENT WORKS */

.recent-works-content {
    /* padding: 0 0 7rem 0; */
    text-align: center;
    /* height: 100rem; */
}

.recent-works {
    display: grid;
    grid-template-columns: repeat(3, 26.4rem);
    grid-template-rows: repeat(2, 19.8rem);
    gap: 6rem;
    justify-content: center;
}

.section-title {
    text-align: center;
    padding: 4.5rem 0;
}

.section-title .heading-2 {
    font-size: 4rem;
    margin-bottom: .8rem;
}

.recent-works-img {
    height: 100%;;
    display: inline-block;
}

.recent-works-menu{
    display: flex;
    justify-content: center;
    padding-bottom: 2.3rem;
}


.recent-works-list {
    padding: 3rem 0 3rem 0;
    width: 65rem;
}

.recent-works-button {
    color: #fff;
    background-color: #97d2a4;
    border: none;
    padding: 1rem 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
}


.filled {
    color: #949090;
    background-color: #fff;
}

.filled, .bordered {
    margin-right: 1rem;
    border-radius: .5rem;
    border: .2rem solid #fff;
}

.recent-works-img:nth-child(1) {
    grid-column:  1 / 2;
}

.recent-works-img:nth-child(2) {
    grid-column: 2 / 3;
}

.recent-works-img:nth-child(3) {
    grid-column: 3  / 4;
}

.recent-works-smbtn {
    background-color: #fff;
    color: #949090be;
    margin: 9rem 0rem;
   
}

.btn {
    padding: 2.1rem 2.2rem;
    border-radius: .6rem;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}

/* LAYERED SECTION */

.layered-section-content {
    /* height: 66.2rem; */
}

.layered-section-smbtn1,
.layered-section-smbtn2 {
    color: #fff;
    margin: 0;
}

.layered-section-smbtn1 {
    background-color: #97d2a4;
}

.layered-section-smbtn2 {
    background-color: #a8d4dd;
}

.heading-3 {
    font-size: 2rem;
    color: rgba(0, 0, 0, .7);
}

.layered-section-info {
    display: flex;
    align-items: flex-end;
}

.layered-section-info:nth-child(1) {
    padding: 6rem 0 9rem;
}

.layered-section-info:nth-of-type(2) {
    padding: 8rem 0 9rem;
}

.layered-section-img {
    width: 25.5rem;
    height: 20.3rem;
    display: inline-block;
}

.layered-section-img-right {
    margin-right: 5rem;
}

.layered-section-img-left{
    margin-left: 5rem;
}

.layered-section-paragraph {
    padding: 2rem 0;
    font-size: 1.6rem;
    font-weight: lighter;
    width: 85%;
    color: rgba(0, 0, 0, .7);
}

.layered-section-info:nth-child(1)  .layered-section-paragraph{
    width: 100%;
}

.layered-section-paragraph-left {
    width: 100%;
}

.division {
    border: 0;
    height: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: .1rem solid rgba(255, 255, 255, 0.3);
}

/* MEET OUR TEAM SECTION */


.meet-our-team-card-list {
    padding: 4rem 0 9rem;
}

.meet-our-team .section-title {
    padding: 5rem 0;
}

.meet-our-team-card-list,
.recent-posts-card-list {
    display: flex;
    justify-content: space-between;
}

.meet-our-team-card-head,
.recent-posts-card-head {
    background-color: #E8E9EA;
    height: 17.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet-our-team-card-body,
.recent-posts-card-body,
.meet-our-team-card-footer {
    background-color: #fff;
    /* padding: 1rem 1rem; */
}

.meet-our-team-card-body {
    padding: 1.8rem 2.3rem 1.4rem;
}

.mot-user-icon {
    font-size: 6rem;
    color: #fff;
}

.mot-social-icon {
    font-size: 3.4rem;
}

.mot-social-icon:not(:nth-child(3)) {
    margin-right: .2em;
}

.mot-social-icon:nth-child(1) {
    color: #3C5A9A;
}

.mot-social-icon:nth-child(2) {
    color: #2CAAE3;
}

.mot-social-icon:nth-child(3) {
    color: #E60D19;
}

.meet-our-team-card {
    flex: 0 1 calc((100% - 15.4rem) / 3);
    text-align: center;
}

.meet-our-team-card .heading-4 {
    font-size: 2.6rem;
    font-family: 'Tinos', serif;
    font-weight: bolder;
}

.heading-4 span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    padding-top: .7rem;
}

.meet-our-team-card-paragraph {
    margin: 0 auto;
    font-size: 1.5rem;
    padding-top: 1.2rem;
    color: rgba(0, 0, 0, .4);

}

.meet-our-team-logos {
    padding-bottom: 1.8rem;
}

/* RECENT POSTS SECTION */ 



.recent-posts {
    text-align: center;
}

.recent-posts .section-title {
    padding: 6rem 0 7rem;
}

.recent-posts-card {
    flex: 0 1 calc((100% - 6.6rem) / 3);
    text-align: center;
}

.recent-posts-card-head {
    height: 14.5rem;
}

.recent-posts-card-body {
    padding: 2.3rem 2.2rem;
}

.recent-posts-img {
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
}

.recent-posts-card .heading-4 {
    font-size: 2.15rem; 
}

.recent-posts-card .heading-4 span {
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 1.4rem;
    color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;
}

.recent-posts-card-paragraph {
   color: rgba(131, 129, 129, 0.815);
}

.recent-posts-card-paragraph {
    font-size: 1.2rem;
}

.recent-posts-smbtn {
    background-color: #fff;
    color: #a8d4dd;
    margin: 7rem 0 7.5rem;
}


.recent-posts .section-title,
.meet-our-team .section-title,
.recent-works-section .section-title {
    color: rgba(255, 255, 255, .5);
}


/* CONTACT US SECTION */

.contact-us .section-title, .contact-us .heading-2{
    color: #D5D1D2;
}

.contact-us .section-title {
    padding: 6rem 0;
}

.section-title-paragraph{
    width: 45%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.contact-us-form {
    margin: 0 auto;
    width: 57.4rem;
    padding: 3.2rem 0 3.7rem;
}

.contact-us-form-group {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-us-form-group:last-child {
    align-items: flex-start;
    margin-bottom: 0;
}

.contact-us-form-group:last-child label{
    margin-top: 1rem;
}


.contact-us-form-group label {
    position: absolute;
    font-size: 1.9rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    color: rgba(148, 140, 140, .9);
}




.contact-us-input, .contact-us-textarea {
   width: 100%;
}

.contact-us-input, .contact-us-textarea {
    border-radius: .5rem;
    padding: 2.3rem 0;
    border: 0;
}


.cta {
    text-align: center;
}

.copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0;
}

.copy-text {
    font-size: 1.4rem;
    color: darkgray;
}

.copy-text span {
    color: #FBD67B;
}

.cta-smbtn {
    background-color: #fff;
    font-weight: bold;
    margin-bottom: 7rem;
}

.contact-us .division {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.3);
}

.footer-icon {
    font-size: 4.5rem;
    color: rgba(169, 169, 169, .3);
}

.footer-icon:not(:last-child) {
    margin-right: .5rem;
}