*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 94rem;
    margin: 0 auto;
}

.header-bg{
    background-color: #a8d4dd;
}

.recent-works-bg {
    background-color: #97d2a4;
}

.layered-section-bg {
    background-color: #f1f1f1;
}

.meet-our-team-bg {
    background-color: #e1b6c7;
}

.recent-posts-bg {
    background-color: #b4d4df;
}

.contact-us-bg {
    background-color: #3c3c3c;
}

/*  HEADER   */

.header-content {
    padding: 2rem 0 1rem 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    /* background-color: burlywood ; */
}

.header-title {
    display: flex;
    align-items: center;
    /* background-color: coral; */
}

.header-title .heading {
    font-size: 1.4rem;
}

.header-icon { 
    font-size: 2rem;
    margin-right: .9rem;
}
.header-slice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    /* background-color: cornflowerblue; */
    text-align: center;
}


.header-slice .heading {
    margin-right: 8rem;
    font-size: 2.5rem;
}

.header-img {
    width: 17rem;
    height: 15rem;
    display: inline-block;
}


.heading {
    font-family: 'Tinos', serif;
    letter-spacing: .10rem;
}

.heading-2 {
    color: #fff;
    font-size: 1.9rem;
    font-weight: bolder;
}

.heading-2 span {
    display: block;
}



.navigation,
.navigation-list {
    flex: 0 1 calc(100% / 2);
}


.navigation-list,
.recent-works-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navigation-link {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

.navigation-link .active {
    border-radius: .5rem;
    background-color: #3c3c3c;
    color: #a8d4dd;
    padding: .7rem 1rem;
}

.dot-boxes {
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem;
}



.active-dot {
    background-color: #fff;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: .1rem solid #fff;
}

.dot:not(:nth-child(3)) {
    margin-right: .5rem;
}

/* IDENTITY SECTION */

.identity-section-img {
    width: 11rem;
    height: 9rem;
    display: inline-block;
}

.identity-section-item:nth-child(2) .identity-section-img {
    width: 6rem;
}

.identity-section {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0;
}

.identity-section-item {
    text-align: center;
    flex: 0 1 calc((100% - 18rem) / 3);
}

.identity-section .heading-3 {
    margin: .7rem 0;
}

.identity-section-paragraph {
    color: rgba(131, 129, 129, 0.815);
}

/* RECENT WORKS */

.recent-works-content {
    /* padding: 0 0 7rem 0; */
    text-align: center;
}

.recent-works {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(2, 15rem);
    gap: 5rem;
    justify-content: center;
}

.section-title {
    text-align: center;
    padding: 3rem 0 7rem 0;
}

.section-title .heading-2 {
    font-size: 3rem;
}

.recent-works-img {
    height: 100%;;
    display: inline-block;
}

.recent-works-menu{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}


.recent-works-list {
    padding: 0 0 3rem 0;
    width: 45rem;
}

.recent-works-button {
    color: #fff;
    background-color: #97d2a4;
    border: none;
    padding: .6rem .6rem;
    text-decoration: none;
    cursor: pointer;
}


.filled {
    color: #949090;
    background-color: #fff;
}

.filled, .bordered {
    margin-right: 1rem;
    border-radius: .4rem;
    border: .13rem solid #fff;
}

.recent-works-img:nth-child(1) {
    grid-column:  1 / 2;
}

.recent-works-img:nth-child(2) {
    grid-column: 2 / 3;
}

.recent-works-img:nth-child(3) {
    grid-column: 3  / 4;
}

.recent-works-smbtn {
    background-color: #fff;
    color: #949090;
    margin-top: 7rem;
}

.btn {
    padding: 2rem 2rem;
    border-radius: .6rem;
    border: none;
    margin: 7rem;
}

/* LAYERED SECTION */



.layered-section-smbtn1,
.layered-section-smbtn2 {
    color: #fff;
    margin: 0;
}

.layered-section-smbtn1 {
    background-color: #97d2a4;
}

.layered-section-smbtn2 {
    background-color: #a8d4dd;
}

.heading-3 {
    font-size: 1.7rem;
}

.layered-section-info {
    display: flex;
    padding: 4rem 0 6rem;
}

.layered-section-img {
    width: 20rem;
    display: inline-block;
}

.layered-section-img-right {
    margin-right: 5rem;
}

.layered-section-img-left{
    margin-left: 5rem;
}

.layered-section-paragraph {
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: lighter;
    width: 80%;
}

.layered-section-paragraph-left {
    width: 100%;
}

.division {
    border: 0;
    height: 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: .1rem solid rgba(255, 255, 255, 0.3);
}

/* MEET OUR TEAM SECTION */

.meet-our-team-content {
    padding-bottom: 7rem;
}

.meet-our-team-card-list,
.recent-posts-card-list {
    display: flex;
    justify-content: space-evenly;
}

.meet-our-team-card-head,
.recent-posts-card-head {
    background-color: #E8E9EA;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meet-our-team-card-body,
.recent-posts-card-body,
.meet-our-team-card-footer {
    background-color: #fff;
    padding: 1rem 1rem;
}

.meet-our-team-card-body {
    padding-bottom: .5rem;
}

.mot-user-icon {
    font-size: 4rem;
    color: #fff;
}

.mot-social-icon {
    font-size: 2rem;
    
}

.mot-social-icon:not(:nth-child(3)) {
    margin-right: .2em;
}

.mot-social-icon:nth-child(1) {
    color: #3C5A9A;
}

.mot-social-icon:nth-child(2) {
    color: #2CAAE3;
}

.mot-social-icon:nth-child(3) {
    color: #E60D19;
}

.meet-our-team-card {
    flex: 0 1 calc((100% - 45rem) / 3);
    text-align: center;
}

.meet-our-team-card .heading-4 {
    font-size: 1.8rem;
    font-family: 'Tinos', serif;
    font-weight: bolder;
}

.heading-4 span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    padding: .3rem 0;
}

.meet-our-team-card-paragraph {
    margin: 0 auto;
}

/* RECENT POSTS SECTION */ 

.recent-posts {
    text-align: center;
}

.recent-posts-card {
    flex: 0 1 calc((100% - 10rem) / 3);
    text-align: center;
}

.recent-posts-img {
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
}

.recent-posts-card .heading-4 {
    font-size: 1.5rem;
}

.recent-posts-card .heading-4 span {
    font-style: italic;
    font-weight: lighter;
}

.recent-posts-card-paragraph,
.recent-posts-card-body .heading-4 span {
   color: rgba(131, 129, 129, 0.815);
}

.recent-posts-card-paragraph {
    padding: 1.5rem 1rem;
}

.recent-posts-smbtn {
    background-color: #fff;
    color: #a8d4dd;
}


.recent-posts .section-title,
.meet-our-team .section-title,
.recent-works-section .section-title {
    color: rgba(255, 255, 255, .5);
}


/* CONTACT US SECTION */

.contact-us .section-title, .contact-us .heading-2{
    color: #D5D1D2;
    padding: 2rem 0;
}

.section-title-paragraph{
    width: 35%;
    margin: 0 auto;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto 0;
    width: 45rem;
}

.contact-us-form-group {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-us-form-group:last-child {
    align-items: flex-start;
}

.contact-us-form-group:last-child label{
    margin-top: 1rem;
}


.contact-us-form-group label {
    position: absolute;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    color: rgba(169, 169, 169, .9);
}


.contact-us-input, .contact-us-textarea {
   width: 100%;
}

.contact-us-input, .contact-us-textarea {
    border-radius: .5rem;
    padding: 1.3rem 0;
}


.cta {
    text-align: center;
}

.copy {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

.copy-text {
    font-size: 1.2rem;
    color: darkgray;
}

.copy-text span {
    color: #FBD67B;
}

.cta-smbtn {
    background-color: #fff;
    font-weight: bold;
    margin: 1.7rem 0 5rem 0;
}

.contact-us .division {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.3);
}

.footer-icon {
    font-size: 2.5rem;
    color: rgba(169, 169, 169, .3);
}

.footer-icon:not(:last-child) {
    margin-right: .5rem;
}